@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

body {
    background: #b3b4b1;
    font-family: "Work Sans", sans-serif;
    margin: 15px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 30px;
    color: rgb(191, 255, 138);
}

@media print {
    h1 {
        display: none !important;
    }
    body {
        background: #fff !important;
    }
}
